.THIS {
       width:80% !important;
        margin-left:auto;
        margin-right:auto;
}

.THIS .myFieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    
}
 
.THIS .myLegend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}